<div class="page d-flex justify-content-center p-2">
  <div *ngIf="ticket$ | async as ticket" class="card form-card">
    <div class="card-body">
      <h5>Edit Ticket</h5>
      <form #ticketForm="ngForm" (ngSubmit)="onUpdate(ticket)">
        <div class="form-group">
          <label for="flightNumber" class="form-label">Flight Number</label>
          <input
            [(ngModel)]="ticket.flightNumber"
            [ngModelOptions]="{ updateOn: 'blur' }"
            type="text"
            id="flightNumber"
            name="flightNumber"
            class="form-control"
            pattern="^[A-Za-z]{2}[0-9]{4}$"
            required
          />
          <div
            *ngIf="ticketForm.controls['flightNumber']?.invalid"
            class="error-message"
          >
            It must consits of two letters and four numbers.
          </div>
        </div>

        <div class="form-group">
          <label for="service" class="form-label">Class</label>
          <select
            [(ngModel)]="ticket.service"
            [ngModelOptions]="{ updateOn: 'blur' }"
            id="service"
            name="service"
            class="form-control"
            required
          >
            <option value="economy">Economy</option>
            <option value="business">Business</option>
            <option value="tourist">Tourist</option>
          </select>
          <div
            *ngIf="ticketForm.controls['service']?.invalid"
            class="error-message"
          >
            Please selecet a valid option.
          </div>
        </div>

        <div class="form-group">
          <label for="seat" class="form-label">Seat Number</label>
          <input
            [(ngModel)]="ticket.seat"
            [ngModelOptions]="{ updateOn: 'blur' }"
            type="text"
            id="seat"
            name="seat"
            class="form-control"
            pattern="^[A-Za-z]{1}[0-9]{1}$"
            required
          />
          <div
            *ngIf="ticketForm.controls['seat']?.invalid"
            class="error-message"
          >
            It must consits of one letter and one number.
          </div>
        </div>

        <div class="form-check mt-3">
          <input
            [(ngModel)]="ticket.checked"
            id="checked"
            type="checkbox"
            class="form-check-input"
            name="checked"
          />
          <label for="checked" class="form-label">Checked</label>
        </div>
        <div class="d-grid mt-3">
          <button type="submit" [disabled] = "ticketForm.invalid" class="btn btn-primary">
            <i class="fa fa-save"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
